/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Open+Sans:wght@300;400;700&display=swap');

/* Style Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

ol, ul {
    padding-left: 0!important;
}

/* Global Styles */

:root {
    --primary-color: #075570;
    --primary-color-dark: #06445a; 
    --secondary-color: #f1f1e6;
    --accent-color: #ffc145;
    --accent-color-dark: #cc9a37;
    --cancel-color: #F25C66;
    --font-title: "Lora", serif;
    --font-body: "Open Sans", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.75px;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
legend {
    font-family: "Lora", serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--accent-color);
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: var(--accent-color-dark);
}

li {
    list-style: none;
}

/* Utility Classes */

.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.underline {
    text-decoration: underline;
}

.underline:hover,
.underling:active {
    text-decoration: underline;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.light-pattern-bg {
    background-image: url("../images/bg-light.svg");
    background-color: var(--secondary-color);
}

.dark-pattern-bg {
    background-image: url("../images/bg-dark.svg");
    background-color: var(--primary-color);
}

.dark-text {
    color: var(--primary-color-dark)
}

.light-text {
    color: var(--secondary-color);
}

.page-title {
    color: var(--accent-color);
    text-decoration: underline;
    text-align: center;
    padding-bottom: 1.5rem;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.button {
    border-radius: 2px;
    border: 1px solid var(--accent-color);
    color: var(--primary-color-dark);
    padding: 0.75rem 2rem;
    background: linear-gradient(to right, transparent 50%, var(--secondary-color) 50%);
    background-size: 205%;
    background-position: right bottom;
    transition: all .5s;
    font-family: var(--font-title);
    font-size: 1.25rem;
}

@media (max-width: 480px) {
    .button {
        font-size: 0.75rem;
    }
}

.button:hover,
.button:focus {
    color: var(--accent-color);
    background-position: left bottom;
}

.button--alt {
    color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
    background: linear-gradient(to right, var(--primary-color) 50%, transparent 50%);
    background-size: 205%;
    background-position: right bottom;
}

.button--alt:hover,
.button--alt:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.form-info-text {
    color: var(--primary-color-dark);
}

/* Navbar */
/* Code taken and adapted from https://www.udemy.com/course/sass-the-complete-sass-course-css-preprocessor/ */

.hamburger-menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10%;
    z-index: 300;
    right: 5%;
}

@media (max-width: 900px) {
    .hamburger-menu {
        top: 0;
        margin-top: 1.5rem;
    }
}

@media (max-width: 480px) {
    .hamburger-menu {
        width: 25px;
        height: 25px;
        margin-top: 1rem;
    }
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .5s;
}

.menu-line {
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    transform-origin: right;
    transition: all .5s .5s;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

.navbar {
    position: relative;
    z-index: 200;
    padding: 0;
}

.left-img {
    width: 100%;
}

@media (max-width: 768px) {
    .left-img {
        display: none;
    }
}

.navbar .navbar-navigation {
    display: flex;
}

.navbar-navigation-left {
    width: 50vw;
    height: 100vh;
    background-color: var(--primary-color);
    position: fixed;
    left: -50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}

.navbar-navigation-right {
    width: 50vw;
    height: 100vh;
    position: fixed;
    right: -50vw;
    background-color: var(--primary-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

@media(max-width: 768px) {
    .navbar-navigation-right {
        width: 100vw;
        right: -100vw;
    }
}

.nav-list-link {
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--accent-color);
    display: block;
    margin: 20px;
    text-align: center;
    transition: all .5s;
}

.nav-list-link:hover {
    letter-spacing: 3px;
    text-decoration: underline;
    color: var(--accent-color);
}

/* Header/Hero */

.hero { 
    height: 100vh;
}

.hero-left {
    text-align: center;
    height: 100vh;
}

.hero-left > img {
    padding: 3rem 0 7rem 0;
    width: 50%;
}

.hero-left > h1 {
    color: var(--accent-color);
    padding-bottom: 2.5rem;
}

.hero-left > p {
    color: var(--secondary-color);
    font-family: var(--font-title);
    font-size: 1.25rem;
    padding-bottom: 2rem;
}

.hero-right {
    background: url("../images/home-hero.jpg") no-repeat right;
    background-size: contain;
    background-attachment: fixed;
}

@media (max-width: 960px) {
    .hero-left {
        height: 50vh;
    }

    .hero-right {
        height: 50vh;
        background-position: center;
        background-size: cover;
        background-attachment: scroll;

    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 800px) {
    .hero-left > img {
        padding: 0.5rem 0 1.5rem 0;
    }
}

@media (max-width: 480px) {
    .hero-left {
        height: 65vh;
    }

    .hero-left > img {
        min-width: 75%;
        float: left;
    }

    .hero-left > h1 {
        font-size: 1.5rem;
    }

    .hero-left > p {
        font-size: 1rem;
    }
}

/* About Section */

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content > h2 {
    padding-bottom: 2rem;
}

.about-content > p {
    padding: 0 1.5rem;
}

.about-image-first {
    background: url("../images/about-image-first.jpg") no-repeat right;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
}

.about-image-second {
    background: url("../images/about-image-second.jpg") no-repeat left;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
}

.about-image-third {
    background: url("../images/about-image-third.jpg") no-repeat right;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
}

@media (max-width: 960px) {

    .about-image-first,
    .about-image-second,
    .about-image-third {
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        height: 50vh;
    }

    .about-content {
        padding: 2rem 0;
    }

}

/* Gallery */

.gallery > h3 {
    padding: 2rem;
    text-decoration: underline;
    font-size: 2rem;
}

.gallery > img {
    width: 100%;
    height: 100%;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.gallery-item:hover .gallery-overlay {
    left: 0;
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--accent-color);
    opacity: 0.6;
    color: var(--secondary-color);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: left 0.7s;
}

/* Form */

label {
    font-family: var(--font-title);
    color: var(--primary-color-dark);
    font-size: 1.5rem;
}

form {
    border: 2px solid var(--primary-color-dark);
    border-radius: 2px;
    margin: 3rem 0;
    padding: 0 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

legend {
    font-size: 1.5rem;
    color: var(--primary-color-dark);
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus,
label:focus {
    border: 2px solid var(--accent-color)!important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px!important
}

.form-control,
.form-select {
    border: 1px solid var(--primary-color);
}

.form-message {
    color: var(--primary-color-dark);
}

/* Contact Form */

.contact-intro,
.event-intro {
    color: var(--primary-color-dark);
}

.contact-intro > i {
    font-size: 2rem;
    transform: scale(1);
    animation: pulse 2s infinite;
    border-radius: 50%;
}

/* Code for animation https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */

@keyframes pulse {

    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.contact-names,
.event-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-email {
    width: 80%;
}

@media (max-width: 1080px) {

    .contact-names {
        flex-direction: column;
    }

    .contact-names > div:first-child {
        margin-bottom: 1.25rem;
    }

    .contact-message {
        text-align: left!important;
    }

    .contact-email {
        width: 100%;
        text-align: left!important;
    }
}

/* Create Event */

.event-intro > h2 {
    padding-bottom: 1rem;
}

.edit-event-title {
    padding-bottom: 0!important;
}

.event-form-menu-title {
    font-size: 1.5rem;
    color: var(--primary-color-dark);
    font-weight: normal;
}

.event-message-title {
    margin-bottom: 1.5rem;
}

/* Supper Club */

.club-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.club-hero-content > h2 {
    padding-left: 2.25rem;
}

.club-hero {
    height: 70vh;
    background: url("../images/club-hero.jpg") no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: contain;
}

@media (max-width: 960px) {
    .club-hero {
        background-attachment: scroll;
    }
}

@media (max-width: 480px) {
    .club-hero {
        height: 50vh;
    }
}

/* Search box code from https://codepen.io/ahmadbassamemran/pen/rNjMXqg */
/* And customised for this project */

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 3.125rem;
    width: 3.125rem;
    border-style: none;
    padding: 0.625;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--primary-color-dark);
    padding-right: 2.5rem;
    color:var(--primary-color-dark);
}

.input-search::placeholder {
    color: var(--primary-color-dark);
    font-size: 1.125rem;
    font-weight: 100;
}

.btn-search{
    width: 3.125rem;
    height: 3.125rem;
    border-style: none;
    font-size: 1.25rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
}

.btn-search > i {
    color: var(--accent-color);
    padding-right: 1.5rem;
}

.btn-search:focus ~ .input-search{
    width: 21.875rem;
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus{
    width: 21.875rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

@media (max-width: 360px) {
    .btn-search:focus ~ .input-search,
    .input-search:focus {
        width: 18rem;
    }

    .input-search::placeholder {
        font-size: 0.9rem;
    }
}

@media (max-width: 280px) {
    .btn-search:focus ~ .input-search,
    .input-search:focus {
        width: 16rem;
    }

    .input-search::placeholder {
        font-size: 0.8rem;
    }
}

/* Event Cards */

.card {
    color: #fff;
    text-align: right;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
}

.card-body {
    padding-right: 1.75rem;
}

.card-body > h5 {
    font-family: var(--font-body);
}

.event-em {
    font-style: normal;
    color: var(--accent-color);
}

.menu-btn-container {
    text-align: center;
}

.menu-btn {
    border: 1px solid var(--accent-color-dark);
    border-radius: 32px;
    background-color: var(--accent-color-dark);
    padding: 0.5rem 2.25rem;
    color: #fff;
    font-family: var(--font-title);
    transition: all 0.5s ease-in-out
}

.menu-btn:hover,
.menu-btn:focus {
    transform: scale(1.1);
}

/* Card Menu */

.card-menu {
    display: none;
}

.card-menu > h4 {
    text-decoration: underline;
}

/* Edit Event */

/* Code for cancel animation from https://codepen.io/rsbear/pen/ZpXJVp */
/* And customised for this project */

.cancel-container {
    position: relative;
    margin-left: auto;
    width: 3.125rem;
    height: 3.125rem;
    margin-top: 2rem;
    cursor: pointer;
}

.leftright {
    height: 0.25rem;
    width: 2.25rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    background-color: var(--accent-color);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 0.25rem;
    width: 2.25rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    background-color: var(--accent-color);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.cancel-label {
    color: var(--primary-color-dark);
    transition: all .3s ease-in;
    opacity: 0;
    margin: 2.75rem 0 0 0;
    position: absolute;
    cursor: pointer;
    font-size: 1.25rem;
    font-family: var(--font-body);
}

.cancel-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: var(--cancel-color);
}

.cancel-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: var(--cancel-color);
}

.cancel-container:hover .cancel-label {
    opacity: 1;
}

/* Footer */

.footer-logo {
    margin: 0 auto;
}

.footer-nav {
    margin-left: 1.5rem;
    font-size: 1.25rem;
    padding-top: 4rem;
}

.footer-nav-item {
    margin-bottom: 0.75rem;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    text-decoration: underline;
}

.footer-social {
    padding-top: 4rem;
    display: flex;
    justify-content: flex-end;
    color: var(--accent-color);
}

.footer-social > i{
    margin: 0 1.5rem;
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
}

.footer-social > i:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: var(--accent-color-dark);
}

.copyright {
    text-align: center;
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .footer-logo {
        order: -1;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 2rem;
    }

    .footer-social {
        justify-content: center;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
}

@media (max-width: 576px) {
    .footer-nav {
        margin-left: 0;
    }

    .footer-nav-item {
        padding: 0 0.5rem;
    }
}

/* Ipad Pro Media Query */

@media only screen 
    and (min-width: 1024px) and (max-width: 1026px)
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5) {

        /* Header/hero */

        .hero-container {
            display: flex;
            flex-direction: column;
        }

        .hero-right {
            background-attachment: scroll;
            background-size: cover;
            background-position: center;
            height: 50vh;
            width: 100%;
        }

        .hero-left {
            height: 50vh;
            width: 100%;
        }

        .hero-left > img {
            width: 50%;
            padding-bottom: 1.5rem;
        }

        .hero-left > h1 {
            font-size: 2.75rem;
            padding-bottom: 3.75rem;
        }
    
        .hero-left > p {
            font-size: 1.75rem;
            padding-bottom: 2.75rem;
        }

        button {
            font-size: 1.75rem;
        }

        /* About Section */

        .about-container {
            display: flex;
            flex-direction: column;
        }

        .about-content {
            width: 100%;
            padding: 2rem 0;
        }

        .about-image-first,
        .about-image-second,
        .about-image-third {
            background-attachment: scroll;
            background-position: center;
            background-size: cover;
            height: 50vh;
            width: 100%
        }

        .column-reverse {
            display: flex;
            flex-direction: column-reverse;
        }

        /* Supper Club */

        .club-hero {
            background-attachment: scroll;
            background-size: cover;
            height: 50vh;
            width: 100%;
        }

        .club-hero-content {
            width: 100%;
            margin-bottom: 3rem;
        }
    }