/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Open+Sans:wght@300;400;700&display=swap');

/* Style Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

ol, ul {
    padding-left: 0!important;
}

/* Global Styles */

:root {
    --primary-color: #075570;
    --primary-color-dark: #06445a; 
    --secondary-color: #f1f1e6;
    --accent-color: #ffc145;
    --accent-color-dark: #cc9a37;
    --font-title: "Lora", serif;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lora", serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--accent-color);
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: var(--accent-color-dark);
    text-decoration: underline;
}

li {
    list-style: none;
}

button {
    border-radius: 2px;
    border: 1px solid var(--accent-color);
    color: var(--primary-color-dark);
    padding: 0.75rem 2rem;
    background: linear-gradient(to right, transparent 50%, var(--secondary-color) 50%);
    background-size: 205%;
    background-position: right bottom;
    transition: all .5s;
    font-family: var(--font-title);
    font-size: 1.25rem;
}

@media (max-width: 480px) {
    button {
        font-size: 0.75rem;
    }
}

button:hover,
button:focus {
    color: var(--accent-color);
    background-position: left bottom;
}

/* Utility Classes */

.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.light-pattern-bg {
    background-image: url("../images/bg-light.svg");
    background-color: var(--secondary-color);
}

.dark-pattern-bg {
    background-image: url("../images/bg-dark.svg");
    background-color: var(--primary-color);
}

.dark-text {
    color: var(--primary-color-dark)
}

.light-text {
    color: var(--secondary-color);
}

/* Navbar */
/* Code taken and adapted from https://www.udemy.com/course/sass-the-complete-sass-course-css-preprocessor/ */

.hamburger-menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10%;
    z-index: 300;
    right: 5%;
}

@media (max-width: 480px) {
    .hamburger-menu {
        width: 30px;
        height: 30px;
        top: 5%;
    }
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .5s;
}

.menu-line {
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    transform-origin: right;
    transition: all .5s .5s;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

.navbar {
    position: relative;
    z-index: 200;
    padding: 0;
}

.left-img {
    width: 100%;
}

@media (max-width: 768px) {
    .left-img {
        display: none;
    }
}

.navbar .navbar-navigation {
    display: flex;
}

.navbar-navigation-left {
    width: 50vw;
    height: 100vh;
    background-color: var(--primary-color);
    position: fixed;
    left: -50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}

.navbar-navigation-right {
    width: 50vw;
    height: 100vh;
    position: fixed;
    right: -50vw;
    background-color: var(--primary-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

@media(max-width: 768px) {
    .navbar-navigation-right {
        width: 100vw;
        right: -100vw;
    }
}

.nav-list-link {
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--accent-color);
    display: block;
    margin: 20px;
    text-align: center;
    transition: all .5s;
}

.nav-list-link:hover {
    letter-spacing: 3px;
    text-decoration: underline;
    color: var(--accent-color);
}

/* Header/Hero */

.hero { 
    height: 100vh;
}

.hero-left {
    text-align: center;
    height: 100vh;
}

.hero-left > img {
    padding: 3rem 0 7rem 0;
    width: 50%;
}

.hero-left > h1 {
    color: var(--accent-color);
    padding-bottom: 2.5rem;
}

.hero-left > p {
    color: var(--secondary-color);
    font-family: var(--font-title);
    font-size: 1.25rem;
    padding-bottom: 2rem;
}

.hero-right {
    background: url("../images/home-hero.jpg") no-repeat right;
    background-size: contain;
    background-attachment: fixed;
}

@media (max-width: 960px) {
    .hero-left {
        height: 50vh;
    }

    .hero-right {
        height: 50vh;
        background-position: center;
        background-size: cover;
        background-attachment: scroll;

    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 800px) {
    .hero-left > img {
        padding: 0.5rem 0 1.5rem 0;
    }
}

@media (max-width: 480px) {
    .hero-left {
        height: 65vh;
    }

    .hero-left > img {
        min-width: 75%;
        float: left;
    }

    .hero-left > h1 {
        font-size: 1.5rem;
    }

    .hero-left > p {
        font-size: 1rem;
    }
}

/* About Section */

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content > h2 {
    padding-bottom: 2rem;
}

.about-content > p {
    padding: 0 1.5rem;
}

.about-image-first {
    background: url("../images/about-image-first.jpg") no-repeat right;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
}

.about-image-second {
    background: url("../images/about-image-second.jpg") no-repeat left;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
}

.about-image-third {
    background: url("../images/about-image-third.jpg") no-repeat right;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
}

@media (max-width: 960px) {

    .about-image-first,
    .about-image-second,
    .about-image-third {
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        height: 50vh;
    }

    .about-content {
        padding: 2rem 0;
    }

}

/* Ipad Pro Media Query */

@media only screen 
    and (min-width: 1024px) and (max-width: 1026px)
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5) {

        /* Header/hero */

        .hero-container {
            display: flex;
            flex-direction: column;
        }

        .hero-right {
            background-attachment: scroll;
            background-size: cover;
            background-position: center;
            height: 50vh;
            width: 100%;
        }

        .hero-left {
            height: 50vh;
            width: 100%;
        }

        .hero-left > img {
            width: 50%;
            padding-bottom: 1.5rem;
        }

        .hero-left > h1 {
            font-size: 2.75rem;
            padding-bottom: 3.75rem;
        }
    
        .hero-left > p {
            font-size: 1.75rem;
            padding-bottom: 2.75rem;
        }

        button {
            font-size: 1.75rem;
        }

        /* About Section */

        .about-container {
            display: flex;
            flex-direction: column;
        }

        .about-content {
            width: 100%;
            padding: 2rem 0;
        }

        .about-image-first,
        .about-image-second,
        .about-image-third {
            background-attachment: scroll;
            background-position: center;
            background-size: cover;
            height: 50vh;
            width: 100%
        }

        .column-reverse {
            display: flex;
            flex-direction: column-reverse;
        }
    }