<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <!-- End of Favicon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    {% block styles %}
    {% endblock %}
    <title>Cook House</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <input type="checkbox" id="check" class="checkbox" hidden />
        <!-- Hamburger Icon -->
        <div class="hamburger-menu">
            <label for="check" class="menu">
                <span class="menu-line menu-line-1"></span>
                <span class="menu-line menu-line-2"></span>
                <span class="menu-line menu-line-3"></span>
            </label>
        </div>
        <!-- Full screen navbar menu -->
        <div class="navbar-navigation">
            <!-- Navbar Image -->
            <div class="navbar-navigation-left">
                <img src="../static/images/logo.png" alt="Cook House Logo" class="left-img" />
            </div>
            <!-- Navbar Links -->
            <div class="navbar-navigation-right">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a href="{{ url_for('home') }}" class="nav-list-link">Home</a>
                    </li>
                    <!-- Check if user is logged in -->
                    {% if session.user %}
                        <li class="nav-list-item">
                            <a href="{{ url_for('get_event') }}" class="nav-list-link">Supper Club</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="{{ url_for('create_event') }}" class="nav-list-link">Create Event</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="{{ url_for('profile', username=session['user']) }}" class="nav-list-link">Profile</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="{{ url_for('sign_out' )}}" class="nav-list-link">Sign Out</a>
                        </li>
                    {% else %}
                        <li class="nav-list-item">
                            <a href="{{ url_for('sign_in' )}}" class="nav-list-link">Sign In</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="{{ url_for('register') }}" class="nav-list-link">Register</a>
                        </li>
                    {% endif %}
                    <li class="nav-list-item">
                        <a href="{{ url_for('contact') }}" class="nav-list-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Navbar -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- Footer -->
    <footer>
        <div class="container-fluid dark-pattern-bg">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="col-xs-6">
                        <ul class="footer-nav" id="footer-nav">
                            <li class="footer-nav-item">
                                <a href="{{ url_for('home') }}" class="footer-nav-link">Home</a>
                            </li>
                        {% if session.user %}
                            <li class="footer-nav-item">
                                <a href="{{ url_for('profile', username=session['user']) }}" class="footer-nav-link">Profile</a>
                            </li>
                            <li class="footer-nav-item">
                                <a href="{{ url_for('get_event') }}" class="footer-nav-link">Supper Club</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="footer-nav">
                            <li class="footer-nav-item">
                                <a href="{{ url_for('create_event') }}" class="footer-nav-link">Create Event</a>
                            </li>
                            <li class="footer-nav-item">
                                <a href="{{ url_for('sign_out' )}}" class="footer-nav-link">Sign Out</a>
                            </li>
                        {% else %}
                            <li class="footer-nav-item">
                                <a href="{{ url_for('register') }}" class="footer-nav-link">Register</a>
                            </li>
                            <li class="footer-nav-item">
                                <a href="{{ url_for('sign_in' )}}" class="footer-nav-link">Sign In</a>
                            </li>
                        {% endif %}
                            <li class="footer-nav-item">
                                <a href="{{ url_for('contact') }}" class="footer-nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 footer-logo">
                    <img src="../static/images/logo-transparent.png" alt="Cook House Logo">
                </div>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="facebook link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="instagram link">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/?lang=en-gb" target="_blank" rel="noopener" aria-label="twitter link">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col copyright">
                    <p>&#169; Copyright Cook House <span id="copyright-year">2021</span></p>
                    <p>Site Design & Build <a href="https://github.com/liammcluckie" target="_blank" rel="noopener">Liam McLuckie</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>