<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Cook House</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <input type="checkbox" id="check" class="checkbox" hidden />
        <!-- Hamburger Icon -->
        <div class="hamburger-menu">
            <label for="check" class="menu">
                <div class="menu-line menu-line-1"></div>
                <div class="menu-line menu-line-2"></div>
                <div class="menu-line menu-line-3"></div>
            </label>
        </div>
        <!-- Full screen navbar menu -->
        <div class="navbar-navigation">
            <!-- Navbar Image -->
            <div class="navbar-navigation-left">
                <img src="static/images/logo.png" alt="Cook House Logo" class="left-img" />
            </div>
            <!-- Navbar Links -->
            <div class="navbar-navigation-right">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a href="#" class="nav-list-link">Home</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#" class="nav-list-link">Supper Club</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#" class="nav-list-link">Create Event</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#" class="nav-list-link">Register</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#" class="nav-list-link">Sign In</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#" class="nav-list-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Navbar -->
    <!-- Header -->
    <header>
        <div class="container-fluid hero">
            <div class="row hero-container">
                <div class="col-lg-6 col-xs-12 hero-left dark-pattern-bg">
                    <img src="static/images/logo-transparent.png" alt="Cook House Logo">
                    <h1>Bringing Strangers Together</h1>
                    <p>Creating friendships with food, drink and conversation</p>
                    <button type="button" class="uppercase">Register</button>
                </div>
                <div class="col-lg-6 col-xs-12 hero-right">
                    <span role="img" aria-label="Image of friends chinking wine glasses over dine"></span>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header -->
    <main>
        <!-- About Section -->
        <section>
            <div class="container-fluid">
                <div class="row about-container">
                    <div class="col-lg-4 light-pattern-bg about-content dark-text">
                        <h2>What Are Supper Clubs...</h2>
                        <p>
                            <em>
                                "An underground restaurant, sometimes known as a supper club or closed door restaurant, is a social dining restaurant
                                operated out of someone's home. They are usually advertised by word of mouth."
                            </em>
                            <br>
                            <br>
                            The origin of supper clubs is unknown, however, most believe that it was first stumbled across by the western world in Cuba 
                            in the early 2000's. The concept was brought over to the UK before exploding in popularity in countries such as 
                            South Africa and the Netherlands.
                            <br>
                            <br>
                            Cook House believe that the best friendships are made over sharing a good meal, and with today's amateur culinary world exploding
                            we wanted to create a platform that would allow foodies alike to eat, drink and laugh together.
                        </p>
                    </div>
                    <div class="col-lg-8 about-image-first"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row column-reverse">
                    <div class="col-lg-8 about-image-second"></div>
                    <div class="col-lg-4 dark-pattern-bg about-content light-text">
                        <h2>Hosts...</h2>
                        <p>
                            We would love all of our users to try out hosting as we believe it to be one of the most rewarding experiences. Once registered follow 
                            the <a href="#">Create Event link</a> and here you can advertise your Supper Club to our registered users.
                            <br>
                            <br>
                            It's simple and you can add as much information as you choose, we do however require an event name, location, cuisine, date, menu and any 
                            additional extras. Your menu is up to you, as many courses as you'd like, or sharing style anything goes and we've seen it all! 
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 light-pattern-bg about-content dark-text">
                        <h2>Guests...</h2>
                        <p>
                            Search for supper clubs near and far. Overnight stays, city breaks, weekends by the coast these are all perfect opportunities to experience 
                            an incredible evening put on by a local host. You can enjoy world class food without the price tag and meet some truly interesting people.
                            <br>
                            <br>
                            Once you've chosen a supper club register your interest and make sure to inform the host of any dietary requirements. If you have any questions 
                            on the event this is your time to ask the host or us. Don't be afraid to ask we all understand this is a new experience for most.
                        </p>
                    </div>
                    <div class="col-lg-8 about-image-third"></div>
                </div>
            </div>
        </section>
        <!-- End of About Section -->
        <!-- Gallery -->
        <section>
            <div class="container-fluid light-pattern-bg">
                <div class="row gallery">
                    <h3 class="dark-text">Gallery</h3>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <div class="gallery-item">
                            <div class="gallery-overlay"></div>
                            <img src="https://images.unsplash.com/photo-1603903632212-90336afa65f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <div class="gallery-item">
                            <div class="gallery-overlay"></div>
                            <img src="https://images.unsplash.com/photo-1603903632212-90336afa65f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <div class="gallery-item">
                            <div class="gallery-overlay"></div>
                            <img src="https://images.unsplash.com/photo-1603903632212-90336afa65f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <div class="gallery-item">
                            <div class="gallery-overlay"></div>
                            <img src="https://images.unsplash.com/photo-1603903632212-90336afa65f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <div class="gallery-item">
                            <div class="gallery-overlay"></div>
                            <img src="https://images.unsplash.com/photo-1603903632212-90336afa65f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <div class="gallery-item">
                            <div class="gallery-overlay"></div>
                            <img src="https://images.unsplash.com/photo-1603903632212-90336afa65f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Gallery -->
    </main>
    <!-- Footer -->
    <footer>
        <div class="container-fluid dark-pattern-bg">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <ul class="footer-nav">
                    <div class="col-xs-6">
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Home</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Supper Club</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Create Event</a>
                        </li>
                    </div>
                    <div class="col-xs-6">
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Register</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Sign In</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Contact</a>
                        </li>
                    </div>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 footer-logo">
                    <img src="static/images/logo-transparent.png" alt="Cook House Logo">
                </div>
                <div class="col-lg-4 col-md-12 footer-social">
                    <i class="fab fa-facebook-square">
                        <a href=""></a>
                    </i>
                    <i class="fab fa-instagram">
                        <a href=""></a>
                    </i>
                    <i class="fab fa-twitter-square">
                        <a href=""></a>
                    </i>
                </div>
            </div>
            <div class="row">
                <div class="col copyright">
                    <p>&#169; Copyright Cook House 2021</p>
                    <p>Site Design & Build <a href="https://github.com/liammcluckie">Liam McLuckie</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>