<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Cook House</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <input type="checkbox" id="check" class="checkbox" hidden />
        <!-- Hamburger Icon -->
        <div class="hamburger-menu">
            <label for="check" class="menu">
                <div class="menu-line menu-line-1"></div>
                <div class="menu-line menu-line-2"></div>
                <div class="menu-line menu-line-3"></div>
            </label>
        </div>
        <!-- Full screen navbar menu -->
        <div class="navbar-navigation">
            <!-- Navbar Image -->
            <div class="navbar-navigation-left">
                <img src="static/images/logo.png" alt="Cook House Logo" class="left-img" />
            </div>
            <!-- Navbar Links -->
            <div class="navbar-navigation-right">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a href="{{ url_for('home') }}" class="nav-list-link">Home</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#" class="nav-list-link">Supper Club</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="{{ url_for('create_event') }}" class="nav-list-link">Create Event</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="{{ url_for('register') }}" class="nav-list-link">Register</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="{{ url_for('sign_in' )}}" class="nav-list-link">Sign In</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="{{ url_for('contact') }}" class="nav-list-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Navbar -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- Flash Messages -->
    <section class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <div class="col">
                        <h4>{{ message }}</h4>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!-- End of Flash Messages -->
    <!-- Footer -->
    <footer>
        <div class="container-fluid dark-pattern-bg">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <ul class="footer-nav">
                    <div class="col-xs-6">
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Home</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Supper Club</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Create Event</a>
                        </li>
                    </div>
                    <div class="col-xs-6">
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Register</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Sign In</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Contact</a>
                        </li>
                    </div>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 footer-logo">
                    <img src="static/images/logo-transparent.png" alt="Cook House Logo">
                </div>
                <div class="col-lg-4 col-md-12 footer-social">
                    <i class="fab fa-facebook-square">
                        <a href="" target="_blank" rel="noopener"></a>
                    </i>
                    <i class="fab fa-instagram">
                        <a href="" target="_blank" rel="noopener"></a>
                    </i>
                    <i class="fab fa-twitter-square">
                        <a href="" target="_blank" rel="noopener"></a>
                    </i>
                </div>
            </div>
            <div class="row">
                <div class="col copyright">
                    <p>&#169; Copyright Cook House 2021</p>
                    <p>Site Design & Build <a href="https://github.com/liammcluckie" target="_blank" rel="noopener">Liam McLuckie</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>