{% extends "base.html" %}
{% block content %}

    <header>
        <div class="container-fluid dark-pattern-bg">
            <div class="row">
                <div class="col-lg-4">
                    <img src="../static/images/logo-transparent.png" alt="Cook House Logo">
                    <h1 class="page-title">Update Profile</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- Edit Profile Section -->
    <section>
        <div class="container-fluid light-pattern-bg align-items-center">
            <div class="row">
                <div class="col-lg-8 text-center center mt-5 event-intro">
                    <h2 class="edit-event-title">Update Profile</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 center">
                    <form method="POST" action="{{ url_for('edit_profile', user_id=user._id) }}"> 
                        <div class="cancel-container">
                            <a href="{{ url_for('profile', username=session['user']) }}">
                                <div class="leftright"></div>
                                <div class="rightleft"></div>
                                <label class="cancel-label">Cancel</label>
                            </a>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="username" class="form-label">New Username</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" placeholder="Username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                            <p class="mt-2 form-info-text"><em>* Replace current username | Must contain letters and/or numbers | Min length 5 char</em></p>
                          </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9]{8,20}$" required>
                            <p class="mt-2 form-info-text"><em>* Replace current password | Must contain letters and/or numbers | Min length 8 char</em></p>
                        </div>
                        <div class="mb-4">
                            <label for="profile_pic" class="form-label">New Profile Picture</label>
                            <input type="url" class="form-control" id="profile_pic" name="profile_pic" value="{{ user.profile_pic }}" placeholder="https://i.postimg.cc/AAAA/example.png" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)(.jpg|.png)" required>
                            <p class="mt-2 form-info-text"><em>* Replace current image | Must be supplied through a URL</em></p>
                            <a href="https://postimages.org/" target="_blank" rel="noopener" class="form-info-text">
                                <em>* We recommend <span class="underline">Postimages</span> - <strong class="uppercase">upload and copy the direct link</strong></em>
                            </a>
                        </div>
                        <div class="mb-4 text-center">
                            <button type="submit" class="button button--alt">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Edit Profile Section -->

{% endblock %}