{% extends "base.html" %}
{% block content %}

    <header>
        <div class="container-fluid dark-pattern-bg">
            <div class="row">
                <div class="col-lg-4">
                    <img src="../static/images/logo-transparent.png" alt="Cook House Logo">
                    <h1 class="page-title">Edit Event</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- Create Event Section -->
    <section>
        <div class="container-fluid light-pattern-bg align-items-center">
            <!-- Flash Messages -->
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="row">
                                <div class="col text-center">
                                <h3 class="mt-5 form-message"><em>{{ message }}</em></h3>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <!-- End of Flash Messages -->
            <div class="row">
                <div class="col-lg-8 text-center center mt-5 event-intro">
                    <h2>Supper Club</h2>
                    <p>
                        This is your chance to really wow your future guests. Please fill in all the 
                        fields below with as much detail as possible. Remember this is the first interaction 
                        your guests will have with you, so make it count!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 center">
                    <form method="POST" action="{{ url_for('edit_event', event_id=event._id) }}">
                        <legend class="text-center mt-3">Event</legend>
                        <div class="mb-1 mt-5">
                            <label for="event_name" class="form-label"></label>
                            <input type="text" class="form-control" id="event_name" name="event_name" placeholder="Event Name" required>
                        </div>      
                        <div class="mb-1">
                            <label for="location" class="form-label"></label>
                            <input type="text" class="form-control" id="location" name="location" placeholder="Location" required>
                        </div>
                        <div class="mb-4">
                            <label for="category_name" class="form-label"></label>
                            <select class="form-select" aria-label="Cuisine select options" id="category_name" name="category_name" required>
                                <option selected >Cuisine</option>
                                {% for category in categories %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="date" class="form-label"></label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>  
                        <div class="mb-1">
                            <h3 class="text-center event-form-menu-title">Menu</h3>
                            <label for="starter" class="form-label"></label>
                            <input type="text" class="form-control" id="starter" name="starter" placeholder="Starter">
                        </div>
                        <div class="mb-1">
                            <label for="main" class="form-label"></label>
                            <input type="text" class="form-control" id="main" placeholder="Main" name="main" required>
                        </div>
                        <div class="mb-4">
                            <label for="dessert" class="form-label"></label>
                            <input type="text" class="form-control" id="dessert" placeholder="Dessert" name="dessert">
                        </div>
                        <div class="mb-4 text-center event-message">
                            <label for="extras" class="form-label event-message-title">Extras</label>
                            <textarea type="text" class="form-control" id="extras" name="extras" placeholder="Let your guests know about those extra little details..." rows="5"></textarea>
                        </div>
                        <div class="mb-4 text-center">
                            <button type="submit" class="button button--alt">Update Event</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Create Event Section -->

{% endblock %}