{% extends "base.html" %}
{% block content %}
    <!-- Header -->
    <header>
        <div class="container-fluid hero">
            <div class="row hero-container">
                <div class="col-lg-6 col-xs-12 hero-left dark-pattern-bg">
                    <img src="static/images/logo-transparent.png" alt="Cook House Logo">
                    <h1>Bringing Strangers Together</h1>
                    <p>Creating friendships with food, drink and conversation</p>
                    {% if session.user %}
                        <a href="{{ url_for('get_event') }}" class="uppercase button">Supper Club</a>
                    {% else %}
                        <a href="{{ url_for('register') }}" class="uppercase button">Register</a>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-xs-12 hero-right">
                    <span role="img" aria-label="Image of friends chinking wine glasses over dine"></span>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header -->
    <!-- About Section -->
    <section>
        <div class="container-fluid">
            <div class="row about-container">
                <div class="col-lg-4 light-pattern-bg about-content dark-text">
                    <h2>What Are Supper Clubs...</h2>
                    <p>
                        <em>
                            "An underground restaurant, sometimes known as a supper club or closed door restaurant, is a social dining restaurant
                            operated out of someone's home. They are usually advertised by word of mouth."
                        </em>
                        <br>
                        <br>
                        The origin of supper clubs is unknown, however, most believe that it was first stumbled across by the western world in Cuba 
                        in the early 2000's. The concept was brought over to the UK before exploding in popularity in countries such as 
                        South Africa and the Netherlands.
                        <br>
                        <br>
                        Cook House believe that the best friendships are made over sharing a good meal, and with today's amateur culinary world exploding
                        we wanted to create a platform that would allow foodies alike to eat, drink and laugh together.
                    </p>
                </div>
                <div class="col-lg-8 about-image-first">
                    <span role="img" aria-label="Group sitting on the floor in a forest conversing over dinner"></span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row column-reverse">
                <div class="col-lg-8 about-image-second">
                    <span role="img" aria-label="Woman taking a sip of red wine outside in the sun with friends talking around her"></span>
                </div>
                <div class="col-lg-4 dark-pattern-bg about-content light-text">
                    <h2>Hosts...</h2>
                    <p>
                        We would love all of our users to try out hosting as we believe it to be one of the most rewarding experiences. Once registered follow 
                        the Create Event link and here you can advertise your Supper Club to our registered users.
                        <br>
                        <br>
                        It's simple and you can add as much information as you choose, we do however require an event name, location, cuisine, date, menu and any 
                        additional extras. Your menu is up to you, as many courses as you'd like, or sharing style anything goes and we've seen it all! 
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 light-pattern-bg about-content dark-text">
                    <h2>Guests...</h2>
                    <p>
                        Search for supper clubs near and far. Overnight stays, city breaks, weekends by the coast these are all perfect opportunities to experience 
                        an incredible evening put on by a local host. You can enjoy world class food without the price tag and meet some truly interesting people.
                        <br>
                        <br>
                        Once you've chosen a supper club register your interest and make sure to inform the host of any dietary requirements. If you have any questions 
                        on the event this is your time to ask the host or us. Don't be afraid to ask we all understand this is a new experience for most.
                    </p>
                </div>
                <div class="col-lg-8 about-image-third">
                    <span role="img" aria-label="Above vantage point of a table with lots of sharing platters of food with people eating"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About Section -->
{% endblock %}