{% extends "base.html" %}
{% block content %}

    <header>
        <div class="container-fluid dark-pattern-bg">
            <div class="row">
            <div class="col-lg-4 text-center mb-4">
                    <img src="../static/images/logo-transparent.png" alt="Cook House Logo">
                    <h1 class="page-title">{{ username }}'s Profile</h1>
                    <a href="{{ url_for('edit_profile', user_id=user_profile._id) }}" class="profile-update edit-btn">Edit Profile&nbsp;</a>
                    <a href="#" class="profile-update delete-btn" data-bs-toggle="modal" data-bs-target="#removeUser">
                        Delete Profile
                    </a>
                    <!-- Delete Profile Modal -->
                    <div class="modal fade" id="removeUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title uppercase" id="staticBackdropLabel">&nbsp;Delete Profile</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete your profile and all created events?</p>
                                    <p>This change cannot be undone!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="modal-btn modal-btn--cancel" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{{ url_for('delete_profile', user_id=user_profile._id) }}" class="modal-btn modal-btn--delete">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Delete Profile Modal -->
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container-fluid light-pattern-bg align-items-center">
            <!-- Flash Messages -->
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="row">
                                <div class="col text-center">
                                <h3 class="mt-5 form-message"><em>{{ message }}</em></h3>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <!-- End of Flash Messages -->
        </div>
    </section>
    <!-- Users Events -->
    <section class="light-pattern-bg profile-container">
        <div class="container">
            <div class="row">
            {% if events|length > 0 %}
                <div class="col-lg-5 col-md-6 mb-lg-5 mb-md-3 profile-info">
                    <h3 class="mt-5 dark-text">{{ username }}'s Supper Clubs</h3>
                    <h5 class="dark-text mb-4">Time for your next supper club?</h5>
                    <a href="{{ url_for('create_event') }}" class="button--alt button uppercase">Create Event</a>
                </div>
            <!-- Profile Image -->
                <div class="col-lg-2 col-md-3 mt-3 mb-3 profile-img-container">
                    <img src="{{ user_profile.profile_pic }}" alt="Users chosen profile picture" class="profile-img">
                </div>
            </div>
            {% else %}
                <div class="col-lg-2 col-md-3 mt-3 profile-img-container center">
                    <img src="{{ user_profile.profile_pic }}" alt="Users chosen profile picture" class="profile-img">
                </div>
            </div>
            <!-- End of Profile Image -->
            {% endif %}
            <div class="row">
            {% for event in events if session.user|lower == event.created_by|lower %}
                <div class="col-lg-4 col-md-6">
                    <div class="card bg-primary-color mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-3 text-center"><em class="event-em">{{ event.event_name }}</em></h5>
                            <h5 class="card-text mb-3"><i class="fas fa-map-marker-alt"></i>&nbsp;|&nbsp;<em class="event-em">{{ event.location }}</em></h6>
                            <p class="card-text mb-3"><i class="fas fa-utensils"></i>&nbsp;|&nbsp;<em class="event-em">{{ event.category_name }}</em></p>
                            <p class="card-text mb-3"><i class="far fa-calendar-alt"></i>&nbsp;|&nbsp;<em class="event-em">{{ event.date }}</em></p>
                            <p class="card-text mb-3"><i class="fas fa-signature"></i>&nbsp;|&nbsp;<em class="event-em">{{ event.created_by }}</em></p>
                            <p class="card-text mb-3"><i class="far fa-address-book"></i>&nbsp;|&nbsp;<em class="event-em">{{ event.counter }}</em></p>
                            <div class="mb-3">
                                <a href="{{ url_for('edit_event', event_id=event._id) }}" class="mb-3">Edit</a>
                                <!-- Confirm Delete Modal -->
                                <!-- Code taken from https://getbootstrap.com/ and customised for this project -->
                                {% if event.counter == 0 %}
                                    <a href="#" class="delete-btn" data-bs-toggle="modal" data-bs-target="#deleteEvent">
                                        Delete
                                    </a>
                                {% else %}
                                    <a href="#" class="delete-btn" data-bs-toggle="modal" data-bs-target="#errorDeleteEvent">
                                        Delete
                                    </a>
                                {% endif %}
                            </div>
                            <div class="modal fade" id="deleteEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title uppercase" id="staticBackdropLabel">Delete Event</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this event?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="modal-btn modal-btn--cancel" data-bs-dismiss="modal">Cancel</button>
                                            <a href="{{ url_for('delete_event', event_id=event._id) }}" class="modal-btn modal-btn--delete">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Unable to delete modal -->
                            <div class="modal fade" id="errorDeleteEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title uppercase" id="staticBackdropLabel">Unable to Delete Event</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Unfortunately you already have guests attending this event so you are unable to delete it</p>
                                            <p>If you still wish to delete please message us via our contact form</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="modal-btn modal-btn--cancel" data-bs-dismiss="modal">Cancel</button>
                                            <a href="{{ url_for('contact') }}" class="modal-btn modal-btn--contact">Contact</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Delete Modal -->
                            <button class="event-menu-btn">See Menu&nbsp;<i class="caret fas fa-angle-down"></i></button>
                            <div class="card-menu text-center mt-4" id="event-menu">
                                <h4 class="card-title">Menu</h4>
                                <p>Starter&nbsp;|&nbsp;<em class="event-em">{{ event.starter }}</em></p>
                                <p>Main&nbsp;|&nbsp;<em class="event-em">{{ event.main }}</em></p>
                                <p>Dessert&nbsp;|&nbsp;<em class="event-em">{{ event.dessert }}</em></p>
                                {% if event.extras %}
                                    <p>Something Special&nbsp;|&nbsp;<em class="event-em">{{ event.extras }}</em></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col mb-5 text-center">
                    <h3 class="dark-text mt-5">You haven't created any Supper Clubs yet...</h3>
                    <h5 class="dark-text mb-4">No time like the present!</h5>
                    <a href="{{ url_for('create_event') }}" class="button--alt button uppercase">Create Event</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- End of Users Events -->

{% endblock %}