{% extends "base.html" %}
{% block content %}

    <header>
        <div class="container-fluid dark-pattern-bg">
            <div class="row">
                <div class="col-lg-4">
                    <img src="../static/images/logo-transparent.png" alt="Cook House Logo">
                    <h1 class="page-title">Sign In</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- Sign In Section -->
    <section>
        <div class="container-fluid light-pattern-bg align-items-center">
            <!-- Flash Messages -->
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="row">
                                <div class="col text-center">
                                <h3 class="mt-5 form-message"><em>{{ message }}</em></h3>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <!-- End of Flash Messages -->
            <div class="row">
                <div class="col-lg-4 col-md-8 col-sm-12 center">
                    <form method="POST" action="{{ url_for('sign_in') }}">
                        <div class="mb-3 mt-5">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                          </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="mb-4 text-center">
                            <button type="submit" class="button button--alt">Sign In</button>
                        </div>
                        <div class="text-center mb-5">
                            <p class="form-info-text">
                                Not Registered?
                                <a href="{{ url_for('register') }}">Create Account</a> 
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Sign In Section -->

{% endblock %}