{% extends "base.html" %}
{% block content %}

    <header>
        <div class="container-fluid dark-pattern-bg">
            <div class="row">
                <div class="col-lg-4">
                    <img src="static/images/logo-transparent.png" alt="Cook House Logo">
                    <h1 class="page-title">Supper Clubs</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- Page intro/search -->
    <section class="light-pattern-bg">
        <div class="container-fluid mb-5">
            <div class="row">
                <div class="col-lg-4 dark-text club-hero-content mt-md-5">
                    <h2 class="mb-4 mt-4">Find upcoming supper clubs below or...</h2>
                    <a href="{{ url_for('create_event') }}" class="button--alt button uppercase">Create Event</a>
                </div>
                <div class="col-lg-8 club-hero">
                    <span role="img" aria-label="A group gathered around a low table in the forest in conversation"></span>
                </div>
            </div>
        </div>
        <!-- End of page intro/search -->
        <!-- Flash Messages -->
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row">
                            <div class="col text-center">
                            <h3 class="mt-5 form-message"><em>{{ message }}</em></h3>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <!-- End of Flash Messages -->
        <!-- Events card -->
        <div class="container pb-5">
            <div class="row mb-5">
                <form action="{{ url_for('search') }}" method="POST" class="search-form">
                    <div class="row">
                        <div class="col-4 search-box">
                            <button type="button" class="btn-search"><i class="fas fa-search"></i></button>
                            <label for="query"></label>
                            <input class="input-search mb-3" name="query" id="query" type="text" placeholder="&nbsp; Search by Location or Cuisine" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <a href="{{ url_for('get_event') }}" class="event-cancel-btn">Clear</a>
                            <button type="submit" class="event-confirm-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            {% if events|length > 0 %}
            <div class="row">
                {% for event in events %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card bg-primary-color mb-4">
                            <div class="card-body">
                                <!-- Join Event section -->
                                <form method="POST" class="event-join-form" action="{{ url_for('update_counter', event_id=event._id) }}">
                                    <h4 class="card-form-title text-center mt-3 mb-3">Join Club</h4>
                                    <input type="number" name="counter" class="form-control counter" min="{{ event.counter }}" max="20" value="{{ event.counter }}">
                                    <div class="text-center">
                                        <label for="counter" class="form-label"></label>
                                        <p class="card-form-subtitle"><em>* Guests currently attending<br>Max guests 20</em></p>
                                        <p class="card-form-text">Please add to the current total the number of guests that would like to attend this club</p>
                                        <button type="button" class="event-join-btn mb-3">Join</button>
                                        <div class="event-confirm-container">
                                            <label for="join_event_email"></label>
                                            <input type="email" name="join_event_email" class="join-event-email form-control mb-2" required placeholder="name@gmail.com">
                                            <p class="card-form-text">The host will contact you with more details soon</p>
                                            <button type="button" class="event-cancel-btn mb-3">Cancel</button>
                                            <button type="submit" class="event-confirm-btn mb-3">Confirm</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End of Join Event Section -->
                                <h4 class="card-title mb-3 text-center"><em class="event-em">{{ event.event_name }}</em></h5>
                                <h5 class="card-text mb-3"><i class="fas fa-map-marker-alt"></i>&nbsp;|&nbsp;<em class="event-em">{{ event.location }}</em></h6>
                                <p class="card-text mb-3"><i class="fas fa-utensils"></i>&nbsp;|&nbsp;<em class="event-em">{{ event.category_name }}</em></p>
                                <p class="card-text mb-3"><i class="far fa-calendar-alt"></i>&nbsp;|&nbsp;<em class="event-em">{{ event.date }}</em></p>
                                <p class="card-text mb-3"><i class="fas fa-signature"></i>&nbsp;|&nbsp;<em class="event-em">{{ event.created_by }}</em></p>
                                <button class="event-menu-btn">See Menu&nbsp;<i class="caret fas fa-angle-down"></i></button>
                                <div class="card-menu text-center mt-4" id="event-menu">
                                    <h4 class="card-title">Menu</h4>
                                    <p>Starter&nbsp;|&nbsp;<em class="event-em">{{ event.starter }}</em></p>
                                    <p>Main&nbsp;|&nbsp;<em class="event-em">{{ event.main }}</em></p>
                                    <p>Dessert&nbsp;|&nbsp;<em class="event-em">{{ event.dessert }}</em></p>
                                    {% if event.extras %}
                                        <p>Something Special&nbsp;|&nbsp;<em class="event-em">{{ event.extras }}</em></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <h3 class="mb-4 mt-4 text-center">No Results Found<br>Why Not Try a Different Location or Cuisine?</h2>
            {% endif %}
        </div>
        <!-- End of events card -->
    </section>
    
{% endblock %}